---
---
<!DOCTYPE html>
<html><head><meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=stylesheet href=assets/css/main.css>
<title>GenderFree SCD</title>
</head>
<body>

<div class="banner">
<div class="banner-text">
<div id="genderfree">GenderFree</div><div id="scd">S C D</div>
</div>
</div>

<div class="nav thistle">
<ul>
    <li><a href="#about">About</a></li>
    <li><a href="#next">Next Dance</a></li>
    <li><a href="#schedule">Schedule</a></li>
    <li><a href="#faq">FAQ</a></li>
</ul>
</div>

<div class="content">

<div id="about">
{% capture about %}{% include about.md %}{% endcapture %}
{{about}}
</div>


{% assign today = site.time | date: "%s" %}
{% assign events = site.events | sort: "start-time" %}
{% for class in events %}
    {% assign class-start = class.start-time | date: "%s" %}
    {% if class-start >= today %}
        {% assign next-class = class %}
        {% break %}
    {% endif %}
{% endfor %}
<div id="next">
<h2>{{next-class.start-time | date: "%A, %B %d"}}</h2>
{{next-class.start-time | date: "%l:%M %P"}} - {{next-class.end-time | date: "%l:%M %P"}}
<p>
<b>{{next-class.address}}</b>

</p>
<p>{{next-class.content}}.</p>

</div>

<div id="faq">
<h2>FAQ</h2>
{% for faq in site.data.faq %}
<h3>{{ faq.question }}</h3>
<p>{{ faq.answer }}</p>
{% endfor %}
</div>

</div>

<div class="footer">

</div>

</body></html>