@use 'sass:color';

$primary-color: rgba(thistle, 1.0) !default;
$complementary-color: color.complement($primary-color) !default;
$font-family: verdana !default;

body {
    font-family: $font-family;
    
    margin: 0;
    padding: 0;

    background-color: $complementary-color;
}
    
h1 {
    max-width: 20em;
    margin: 0 auto;
    
    padding: clamp(0.1em, 0.5vw, 1em);
    
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}