@use 'sass:color';

$primary-color: rgba(thistle, 1.0) !default;
$complementary-color: color.complement($primary-color) !default;
$font-family: verdana !default;

.footer {
    min-height: 2rem;
    background-color: $primary-color;
}